
# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual environments
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# PyCharm / JetBrains
# -----------------------------
.idea/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Environment variables / secrets
# -----------------------------
.env
.env.*
!.env.example

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db
desktop.ini

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Python build / packaging
# -----------------------------
build/
dist/
*.egg-info/
.eggs/

# -----------------------------
# Test / coverage cache
# -----------------------------
.pytest_cache/
.coverage
htmlcov/

# -----------------------------
# Type checking / linting cache
# -----------------------------
.mypy_cache/
.ruff_cache/

# -----------------------------
# Project datasets
# -----------------------------
1_data_acquisition/historical/row/
0_project_definition
3_text_preprocessing/data/processed/cryptovision_v1_preprocessed.parquet
4_nlp_feature_extraction/data/*.parquet
4_nlp_feature_extraction/data/*.json
!4_nlp_feature_extraction/data/.gitkeep
# -----------------------------
# Temporary files
# -----------------------------
*.tmp
*.temp

